
/*----------------------------------------------
	Newsletter Style
-----------------------------------------------*/

.elegift-newsletter {
	padding: 140px 100px;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.newsletter__content {
		margin-right: 50px;
		h3 {
			font-size: 4.0rem;
			font-weight: 500;
			color: $headerColor;
			font-family: $bodyFont;
			margin-bottom: 35px;
			line-height: 1.5;
		}
		p {
			font-size: 1.8rem;
			font-weight: 400;
			color: $fontColor;
			font-family: $bodyFont;
			max-width: 700px;
			line-height: 2.2;
		}

	}
	.newsletter__btn {
		.btn {
			width: 370px;
			height: 70px;
		}
	}
}



@media all and (max-width: 1199px) {
	.elegift-newsletter {
		padding: 100px 50px;
	}
}

@media all and (max-width: 991px) {
	.elegift-newsletter {
		.newsletter__content {
			margin-right: 0;
		}
		display: block;
		.newsletter__btn {
			margin-top: 50px;
		}
	}
}

@media all and (max-width: 767px) {
	.elegift-newsletter {
		.newsletter__content {
			h3 {
				font-size: 2.4rem;
			}
		}
	}
}

@media all and (max-width: 575px) {
	.elegift-newsletter {
		padding: 60px 30px;
		display: block;
		.newsletter__btn {
			.btn {
				width: 200px;
				.res-none {
					display: none;
				}
			}
		}
	}
}