/*----------------------------------------------
	Product Style
-----------------------------------------------*/

.product__nav {
	border-bottom: 0;
	justify-content: center;
	margin-bottom: 60px;
	.nav-item {
		margin: 0 15px 15px;
		.nav-link {
			border: 2px solid rgba($headerColor, .1);
			border-radius: 20px;
			background: transparent;
			font-size: 1.8rem;
			font-weight: 400;
			font-family: $bodyFont;
			color: $headerColor;
			line-height: 65px;
			padding: 0;
			width: 200px;
			text-align: center;
			&.active {
				background: $headerColor;
				color: $white;
				border-color: $headerColor;
			}
		}
	}
}


.elegift-product {
	border-radius: 30px;
	overflow: hidden;
	margin-bottom: 40px;
	&:hover {
		.product__thumb a {
			img {
				transform: scale(1.1);
			}
		}
	}
	.product__thumb {
		overflow: hidden;
		a {
			width: 100%;
			img {
				transition: all .3s ease;
				width: 100%;
			}
		}
	}
	.product__content {
		padding: 35px 30px 40px;
		background: $white;
		.product__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			h3 {
				font-size: 2.4rem;
				font-weight: 500;
				color: $headerColor;
				font-family: $bodyFont;
			}
			.product__bookmark {
				i {
					font-size: 2.4rem;
					color: $headerColor;
				}
				&.product__bookmarked {
					i {
						color: $redDeep;
					}
				}
			}
		}
		.product__price__range {
			font-size: 1.5rem;
			font-weight: 500;
			color: $fontColor;
			font-family: $bodyFont;
			margin-bottom: 10px;
		}
		.product__info {
			font-size: 1.5rem;
			font-weight: 400;
			color: $fontColor;
			font-family: $bodyFont;
		}
		.product__meta {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
			.btn {
				border: 2px solid rgba($headerColor, .1);
				color: $headerColor;
				background: rgba($liteGrey, .1);
				&:before {
					border-radius: 15px;
					background-image: linear-gradient(to left, $redLite, $redDeep);
					opacity: 0;
				}
				&:after {
					background: linear-gradient(to right, #ed6c71, #ff3cc1);
					opacity: 0;
					-webkit-filter: blur(20px);
					-moz-filter: blur(20px);
					-o-filter: blur(20px);
					-ms-filter: blur(20px);
					filter: blur(20px);
				}
				&:hover {
					border-color: transparent;
					color: $white;
					&:before {
						opacity: 1;
					}
					&:after {
						opacity: .2;
					}
				}
			}
			.product__price {
				font-size: 2.4rem;
				font-weight: 500;
				color: $headerColor;
				font-family: $bodyFont;
			}
		}
	}
}

.load__more {
	text-align: center;
	margin-top: 40px;
	.btn {
		margin: 0 auto;
	}
}


@media all and (max-width: 575px) {
	.elegift-product {
		max-width: 300px;
		margin: 0 auto 40px;
	}
}