
@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
}

$p-list: 30, 40, 50, 100, 150, 170, 180, 200;

@each $padding in $p-list {
  .pt#{$padding} {
    padding-top: $padding + px;
  }
  .pb#{$padding} {
    padding-bottom: $padding + px;
  }
}


