

$fontColor: #7c798e;
$headerColor: #150e4b;
$white: #ffffff;
$black: #000000;
$redLite: #ed6c71;
$redDeep: #fa2947;
$redDeep2: #f63d53;
$logan: #9792b0;
$ghostWhite: #e4e4ff;
$liteGrey: #eef1f6;

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$instagram: #c13584;



$bodyFont: 'DM Sans', sans-serif;
 
